priority -3

# ================================================================
#	Custom Bash Ultisnips Snippets
# ================================================================

# if-statement to check required ARGS passed
