# Experimental runtime config aliases. Move to `aliases.rc` if no issues occurr during evaluation.

# mongodb
alias mongo="mongosh"

# clickhouse


# @TODO: Make bash/cli function to handle mixing/matching multiple flags on-the-fly
# fd + common flags
alias fd='fd --ignore-file "$HOME/dotfiles/config.d/fd/fdignore"'
alias fd_noignore="$(which fd) -I"
alias fdi="$(which fd) -I"
alias fdcw="fd --changed-within"
alias fdca="fd --changed-after "
alias fdcb="fd --changed-before"
alias fda="which $(fd) -HI"
alias fdt="fd -e"
