# bash/zsh shared exports 

# xdg base dirs
export XDG_DATA_HOME="$HOME/.local/share"
export XDG_STATE_HOME="$HOME/.local/state"
export XDG_CONFIG_HOME="$HOME/.config"
export XDG_CACHE_HOME="$HOME/.cache"
export XDG_BIN_HOME="$HOME/.local/bin"

# custom XDG local dirs
export XDG_TMP_HOME="$HOME/.local/tmp"
export XDG_VAR_HOME="$HOME/.local/var"
export XDG_VAR_TMP_HOME="$HOME/.local/var/tmp"


export GIT_WORK_HOME="$HOME/git"
export GIT_CONFIG="$HOME/.gitconfig"
export GIT_IGNORE="$HOME/.gitignore"
export DOTFILES_HOME="$HOME/.dotfiles"
export SSH_HOME="$HOME/.ssh"
