# bash/zsh shared exports 

# xdg base dirs
export XDG_DATA_HOME="$HOME/.local/share"
export XDG_STATE_HOME="$HOME/.local/state"
export XDG_CONFIG_HOME="$HOME/.config"
export XDG_CACHE_HOME="$HOME/.cache"
export XDG_BIN_HOME="$HOME/.local/bin"
export XDG_DOWNLOADS_HOME="$HOME/.local/var/data/downloads"

# custom XDG local dirs
export XDG_TMP_HOME="$HOME/.local/tmp"
export XDG_VAR_HOME="$HOME/.local/var"
export XDG_VAR_TMP_HOME="$HOME/.local/var/tmp"

# local venvs
export VENVS_HOME="$XDG_STATE_HOME/python/virtualEnvs"

# dotfile directories
export DOTFILES_HOME="$HOME/dotfiles"
export ZSH_CONFD="$HOME/dotfiles/zsh.d"
export RC_CONFD="$HOME/dotfiles/rc.d"
export BASH_CONFD="$HOME/dotfiles/bash.d"
export GIT_CONFD="$HOME/dotfiles/git.d"
export TMUX_CONFD="$HOME/dotfiles/tmux.d"
export CONFIG_CONFD="$HOME/dotfiles/config.d"
export LVIM_CONFD="$HOME/dotfiles/lvim.d"
export NVIM_CONFD="$HOME/dotfiles/nvim.d"
export UTILS_CONFD="$HOME/dotfiles/utils.d"

## dotfiles 
export ZSHRC="$HOME/.zshrc"
export VIMRC="$HOME/.vimrc"
export NVIMRC="$HOME/.config/nvim"
export TMUX_CONF="$HOME/.tmux.conf"


# freq. used 
export CHEATFILES_HOME="$HOME/.config/cheat"
export CHEATFILES_WORK_HOME="$HOME/.config/cheat/cheatsheets/work"
export CHEATLIB_HOME="$HOME/.cheatlib"
export CHEATLIB_CHEATFILES="$HOME/.cheatlib/cheatfiles"
export CHEATLIB_RESOURCES="$HOME/.cheatlib/resources"
export SSH_HOME="$HOME/.ssh"
export TOOLBOX_HOME="$HOME/git/ongoing/toolbox"
export FORTKNOX_HOME="$HOME/git/ongoing/fortknox"


# .local/var and .local/tmp favorites
# check notes on when to use 'var/tmp' or 'var/tmp/data' 
export TMP_WORK="$HOME/.local/work"
 
export VAR_ARCHIVE_DIR="/home/nukk/.local/var/archive"
export VAR_DATA_DIR="/home/nukk/.local/var/data"
export VAR_DATA_DIR="/home/nukk/.local/var/data"
export VAR_TMP_DATA_DIR="/home/nukk/.local/var/tmp/data"
export LOCAL_TESTS_DIR="$HOME/.local/tmp/tests"

# git-related
export GIT_WORK_HOME="$HOME/git"
export GIT_GISTS_HOME="$HOME/git/gists"
export GIT_CONFIG="$HOME/.gitconfig"
export GIT_IGNORE="$HOME/.gitignore"

# other
export TMUX_BUFFERS="$HOME/.local/state/tmux/buffers"
export VIM_BUFFERS="$HOME/.local/state/vim/buffers"
export NVIM_BUFFERS="$HOME/.local/state/nvim/buffers"
export LVIM_BUFFERS="$HOME/.local/state/lvim/buffers"
export DOCKER_CONTAINERS="$HOME/.local/share/docker/containers"
export KNOWLEDGE_DUMPFILE="$HOME/git/fortknox/knowledge_dumpfile_master.md"
export SECRETS_DUMPFILE="$HOME/git/fortknox/secrets_dumpfile_master.md"
export DIFFPATCHES="$HOME/.local/state/diffpatch"

which nvim && export EDITOR="nvim" || export EDITOR="vim"
export ANSIBLE_LOCAL_HOME="$HOME/.ansible"
