# Runtime functions 

# git push for new upstream origin 
gpou (){
    git push -u origin $(git branch --show-current)
}


# git diff HEAD <X>  where X is 1 by default
gdfhx (){
    if [ -z "$1" ];
    then
        X=1
    else
        X="$1"
    fi
    git diff HEAD~$X
}


mcd (){
    DIRPATH="$1"
    mkdir -p $DIRPATH && cd $DIRPATH
}


# recache git credentials -- temporary fix until I can find a way to 
# share $SSH_AUTH b/w tmux windows
gcc (){
    eval $(ssh-agent) && ssh-add "$HOME"/.ssh/id_rsa
    git config credential.helper 'cache --timeout=82800'
}
