# BASH SHELL ONLY - (make separate file for ZSH equivalent)


# fgcor - checkout git branch (including remote branches), sorted by most recent commit, limit 30 last branches
# [F]zf [G]it [C]heck[O]ut [R]ecent branch
#
# @VALIDATED: 'fgcor' has been validated 
fgcor() {
  local branches branch
  branches=$(git for-each-ref --count=30 --sort=-committerdate refs/heads/ --format="%(refname:short)") &&
  branch=$(echo "$branches" |
           fzf-tmux -d $(( 2 + $(wc -l <<< "$branches") )) +m) &&
  git checkout $(echo "$branch" | sed "s/.* //" | sed "s#remotes/[^/]*/##")
}


# must be last line to catch anything that breaks when sourcing
echo 'Sucessfully sourced experimental fzf-bash-extras file'
