# CUSTOM 
utils/
**.temp
**.tmp
tmp.**
temp.**
temp_**
temp-**

example.**
temp/
tmp/
.tmp/
test/*
**/test/
testing/*
**/testing/*
*.test
ref.*
ref_**
ref-**
**-ref.*    # ex. filename-ref.txt, kickstart_nvim_ref.lua
**_ref.*    # ex. filename-ref.txt, kickstart_nvim_ref.lua


# ignore all idea folders except "*.d" (e.g. "bash.d") folders top level files 
# ex: copy `ohmybash/lib/history.sh` (file from ohmybash repo) 
#   ... to `ideas/bash.d/ohmybash_history.sh` if ready for version control
#   ... otherwise copy to something like `ideas/bash.d/subdirX/ohmybash_history" 
#   ... to work on file before versioning 
idea?/
!idea?/*.d/*
idea?.*
*.idea?
dump?/
dump?.*
*.dump?
scratchpad?/
*.scratch


*.wip
wip.*
wip/*
wips/*
**/wip/


# Tmux Plugins
tmux.d/plugins/

# Vim Plugins
vim.d/plugins/
#!vim.d/vimrc
#!vim.d/rt/

# neovim plugins
nvim.d/plugs

# Bash Plugins
.temp/
**/temp/
**.temp
**/tmp/
.tmp/
.tmp
*.diff
patch.*
*.patch
diffpatches**

# initial-build
*.txt 
*.bk
*.ignore
*.ig
*.idea
idea.*
*/*.idea
*/idea.*

# adhoc
experimental/
!experimental/worktrees
#*.expt
expt.*
experiment.*
*.experiment


# zsh custom plugins - ignore everything but plugin script
zsh.d/plugins/
!zsh.d/plugins/**/*.zsh

config.d/dircolors/nord/
#!config.d/dircolors/nord/src/


# ignore all symlinked worktree folders (they are being tracked by Git under the worktree itself)
*.wt
*.wt.syml






**/todo.*.md
todo.*.md
*/todo.*.md

# ignore all files with Git IGnore prefix/suffix
**.gig
gig.**
**.ref
**.exp
exp-**
exp.**
exp_**
*/**/**examples.md

exp.**
**.exp

**/**-tempconfig.d/task/taskchampion.sqlite3
**/**_temp
**/**.temp
**/temp.**
**/temp-**
**/temp_**
**/todo/**

IGNOREME/

# temporary until core of nvim plugins setup
nvim.d/**/config.d
vim.d/
!vim.d/vimrc

# ignore plugin/submodules .git folders
tmux.d/plugins
.git/modules   

# temp
nvim.d/lazy-lock.json
config.d/task/taskchampion.sqlite3
*.BROKEN

# taskwarrior temp
config.d/task/taskchampion.sqlite3

# taskwarrior temp
config.d/task/taskchampion.sqlite3
=======

# taskwarrior temp
config.d/task/taskchampion.sqlite3

# ignore original pre-patch files 
**.orig

.WIPs/
.staging/
**.artifact
**.artifact
