# CUSTOM 
utils/
**.temp
**.tmp
temp/
tmp/
test/*
**/test/
testing/*
**/testing/*
*.test
ideas/
*.wip
wip.*
wip/*
wips/*
**/wip/


# Tmux Plugins
tmuxd/plugins/

# Vim Plugins
vimd/
!vimd/vimrc

# Bash Plugins
.temp/
**/temp/
**.temp
**/tmp/
.tmp/
.tmp
*.diff
patch*
diffpatches**

# initial-build
*.txt 
*.bk
*.ignore
*.ig
*.idea
idea.*
*/*.idea
*/idea.*


