##############################
#   Key Binding Configs
##############################

# Run FZF dependency management script
bash "$HOME/dotfiles/utils.d/helpers/fzf_dependencies_setup.sh" 2>&1 /dev/null

# Ensure fzf key-binding and shell configuration is included in users shell rc
function update_shell_rc {
  is_zsh=$(echo "$SHELL" | egrep -c '\/zsh$')
  if [[ $((is_zsh)) -ge 1 ]]; then
    shell="zsh"
  else
    shell="bash"
  fi
  eval "$(fzf --$shell)" 
  echo "FZF key-bindings and completion files succesfully sourced"
}

# Set up fzf key bindings and fuzzy completion
update_shell_rc


# TODO: Add common ignore filtering (in future can add bash function to switch 
# b/w fzf default ignored and fzf unfiltered (make function to 
# reset FZF_DEFAULT_COMMAND and then resource shell)
#
#export FZF_DEFAULT_COMMAND="fd --type f --strip-cwd-prefix --hidden --follow --exclude .git | egrep -vf '$HOME/dotfiles/config.d/fzf/fzf_default_ignore' "
export FZF_DEFAULT_COMMAND='fd --type f --strip-cwd-prefix --hidden --follow --exclude .git --ignore-file "$HOME/dotfiles/config.d/fd/fdignore"'


# nord color scheme 
export FZF_DEFAULT_OPTS="
  --no-height
  --color=fg:#e5e9f0,bg:#3b4252,hl:#81a1c1 
  --color=fg+:#e5e9f0,bg+:#3b4252,hl+:#81a1c1
  --color=info:#eacb8a,prompt:#bf6069,pointer:#b48dac 
  --color header:italic
  --color=marker:#a3be8b,spinner:#b48dac,header:#a3be8b"

# CTRL-T
#export FZF_CTRL_T_COMMAND='find $HOME -type f'
export FZF_CTRL_T_COMMAND='fd -t f'
export FZF_CTRL_T_OPTS="  --preview 'bat -n --color=always {}'"

# ALT-C
#export FZF_CTRL_T_COMMAND='find $HOME -type d'
#export FZF_ALT_C_COMMAND='fd -t d'
export FZF_ALT_C_COMMAND='fd -t d . $HOME'    # use $HOME instead of CWD as FZF starting point
export FZF_ALT_C_OPTS="--preview 'tree -C {} | head -200'"

# CTRL-R/History
#   CTRL-/ to toggle small preview window to see the full command
export FZF_CTRL_R_OPTS="
  --preview 'echo {}' --preview-window up:3:hidden:wrap
  --bind 'ctrl-e:toggle-preview'
  --bind 'ctrl-y:execute-silent(echo -n {2..} | xclip)+abort'
  --color header:italic
  --header 'Press <Enter> to run command, CTRL-Y to copy command to clipboard, or CTRL-E to toggle command preview in an upper pane'"

_fzf_complete_man(){
    local lbuf="$1"
    local prefix="$2"
    local name section dash description
    local matches=($(man -k . | fzf -m | while read -r name section dash description; do
        echo "$name.${${section#\(}%\)}"
    done))
    [ -z "$matches" ] && return 1
    LBUFFER="$LBUFFER${matches[@]}"
}
