# source fzf key bindings depending on user shell

## check if zsh shell, otherwise assume bash
KEYBIND_STEM="/usr/share/doc/fzf/examples/key-bindings"
if [ "$(basename $SHELL)" = "zsh" ];
then 
    source "$KEYBIND_STEM.zsh"
else
    source "$KEYBIND_STEM.bash"
fi

##############################
#   Key Binding Configs
##############################

# TODO: improve below default/default options

#export FZF_DEFAULT_COMMAND='fd --type f --strip-cwd-prefix --hidden --follow --exclude .git'

# nord color scheme 
export FZF_DEFAULT_OPTS="
  --no-height
  --color=fg:#e5e9f0,bg:#3b4252,hl:#81a1c1 
  --color=fg+:#e5e9f0,bg+:#3b4252,hl+:#81a1c1
  --color=info:#eacb8a,prompt:#bf6069,pointer:#b48dac 
  --color header:italic
  --color=marker:#a3be8b,spinner:#b48dac,header:#a3be8b"


# CTRL-T
export FZF_CTRL_T_COMMAND='find $HOME -type f'
export FZF_CTRL_T_OPTS="  --preview 'bat -n --color=always {}'"

# ALT-C
export FZF_CTRL_T_COMMAND='find $HOME -type d'
export FZF_ALT_C_OPTS="--preview 'tree -C {} | head -200'"


# CTRL-R/History
#   CTRL-/ to toggle small preview window to see the full command
export FZF_CTRL_R_OPTS="
  --preview 'echo {}' --preview-window up:3:hidden:wrap
  --bind 'ctrl-e:toggle-preview'
  --color header:italic
  --header 'Press CTRL-E to toggle preview in upper pane'"



##############################
#   FZF Functions
##############################

function activate-venv() {
  source "$(find $HOME/.venv/ -type f -path '*activate' | fzf)"
 }



##############################
#   Other
##############################


