#####################################################################
##
##  Configurations for FZF Key Bindings and Completions
##
#####################################################################


# Source key binding script. The shell completions are included in 
# the key binding script so we only need to source 1 file. 

# Fedora has stricter requirements for sourcing when compared with other 
# distros. For more info see: /usr/share/doc/fzf/README.Fedora
cat /etc/os-release | egrep "ID_LIKE.+fedora" -q
if [ $? -eq 0 ];
then 
    KEY_BINDINGS_STEM="/usr/share/fzf/shell/key-bindings"
else
    KEY_BINDINGS_STEM="/usr/share/doc/fzf/examples/key-bindings"
fi
    
# check shell for different key binding scripts
[ "$(basename $SHELL)" = "zsh" ] && EXTENSION="zsh" || EXTENSION="bash"

# source key bindings 
source "$KEY_BINDINGS_STEM.$EXTENSION" || echo "Error sourcing fzf keybindings"
#printf "\n%s\n" "Sourced: $KEY_BINDINGS_STEM.$EXTENSION"


##############################
#   Key Binding Configs
##############################

# TODO: improve below default/default options
export FZF_DEFAULT_COMMAND='fd --type f --strip-cwd-prefix --hidden --follow --exclude .git'

# nord color scheme 
export FZF_DEFAULT_OPTS="
  --no-height
  --color=fg:#e5e9f0,bg:#3b4252,hl:#81a1c1 
  --color=fg+:#e5e9f0,bg+:#3b4252,hl+:#81a1c1
  --color=info:#eacb8a,prompt:#bf6069,pointer:#b48dac 
  --color header:italic
  --color=marker:#a3be8b,spinner:#b48dac,header:#a3be8b"


# CTRL-T
#export FZF_CTRL_T_COMMAND='find $HOME -type f'
export FZF_CTRL_T_COMMAND='fd -t f'
export FZF_CTRL_T_OPTS="  --preview 'bat -n --color=always {}'"

# ALT-C
#export FZF_CTRL_T_COMMAND='find $HOME -type d'
#export FZF_ALT_C_COMMAND='fd -t d'
export FZF_ALT_C_COMMAND='fd -t d . $HOME'    # use $HOME instead of CWD as FZF starting point
export FZF_ALT_C_OPTS="--preview 'tree -C {} | head -200'"


# CTRL-R/History
#   CTRL-/ to toggle small preview window to see the full command
export FZF_CTRL_R_OPTS="
  --preview 'echo {}' --preview-window up:3:hidden:wrap
  --bind 'ctrl-e:toggle-preview'
  --color header:italic
  --header 'Press CTRL-E to toggle preview in upper pane'"

