LICENSE
README.md
zsh-syntax-highlighting/*
!zsh-syntax-highlighting/*.zsh
!zsh-syntax-highlighting/.revision
zsh-syntax-highlighting/**/
!zsh-syntax-highlighting/**/highlighters/
!zsh-syntax-highlighting/**/tests/
#!zsh-syntax-highlighting/**/highlighters/**/*.zsh
